:root {
  --neutral-dark-blue: hsl(209, 23%, 22%);
  --neutral-very-dark-blue: hsl(207, 26%, 17%);
  --border-radius-8: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
ol,
ul,
li {
  list-style-type: none;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
input {
  outline: none;
}
h4 {
  letter-spacing: 1px;

  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 800;
  color: white;
}
h3 {
  color: white;
}
label {
  color: white;
  font-weight: 600;
  font-size: 14px;
}
p {
  color: white;
  font-weight: 300;
  font-size: 14px;
}
body {
  min-height: 100vh;
  background-color: var(--neutral-very-dark-blue);
}

.fieldset-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.custom-input-fieldset {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.custom-input {
  padding: 1rem 1rem 1rem 3rem;
  width: 65%;
  border: none;
  border-radius: 4px;
  color: white;
  background: var(--neutral-dark-blue);
}
.custom-select-fieldset {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.icon-text-input {
  color: white;
  position: absolute;
  padding: 17px;
  min-width: 40px;
}
.icon {
  color: white;
  margin-right: 0.5rem;
}
.dark-mode-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.custom-select {
  border: none;
  border-radius: 4px;
  padding: 1rem;
  width: 25%;
  color: white;
  background: var(--neutral-dark-blue);
}
select > option {
  border: none;
  padding: 1rem;
  color: white;
  background: var(--neutral-dark-blue);
}

.container {
  /* padding: 1rem; */
  width: 100%;
  max-width: 1300px;
  margin: 2rem auto;
}
.header-container {
  background-color: var(--neutral-dark-blue);
  padding: 1.75rem;
}
.header-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.text-container {
  padding: 0 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.country-list-container {
  padding: 0 2rem;
}
.country-list-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 4.5rem;
}
.country-list-item {
  background-color: var(--neutral-dark-blue);
  border-radius: 8px;
}
.country-list-item__text-container {
  padding: 2rem 2rem 1rem;
}
.country-detail-list-item-container {
  margin-top: 2rem;
}
.country-detail-list-item {
  display: flex;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 720px) {
  .country-list-container {
    padding: unset;
  }
  .custom-select-fieldset {
    justify-content: unset;
  }
  .custom-input-fieldset {
    margin-bottom: 1rem;
  }
  .text-container {
    flex-direction: column;
    padding: unset;
  }
  .container {
    max-width: unset;
    width: unset;
    padding: 2rem 4rem;
  }
  .country-list-item {
    margin-bottom: 2.5rem;
    padding-bottom: 2rem;
  }
  .country-list-item__text-container {
    padding: 2rem 2rem 0;
  }
  .country-detail-list-item {
    flex-direction: row;
    margin-bottom: 0.5rem;
  }
  .country-list-layout {
    display: flex;
    flex-direction: column;
  }
}
