:root {
  --neutral-dark-blue: hsl(209, 23%, 22%);
  --neutral-very-dark-blue: hsl(207, 26%, 17%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
ol,
ul,
li {
  list-style-type: none;
}

h4 {
  letter-spacing: 1px;

  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
  color: white;
}
label {
  color: white;
  font-weight: 600;
}
p {
  color: white;
  font-weight: 300;
}
body {
  min-height: 100vh;
  background-color: var(--neutral-very-dark-blue);
}
.container {
  padding: 1rem;
}
.country-list-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
}
.country-list-item {
  background-color: var(--neutral-dark-blue);
  border-radius: 8px;
  margin-bottom: 2.5rem;
}
.country-list-item__text-container {
  padding: 2rem 2rem 3rem;
}
.country-detail-list-item {
  display: flex;
}
@media screen and (max-width: 720px) {
  .container {
    padding: 2rem 4rem;
  }
  .country-detail-list-item {
    flex-direction: row;
    margin-bottom: 0.5rem;
  }
  .country-list-layout {
    display: flex;
    flex-direction: column;
  }
}
